In [7]:
a = "hello world"

In [8]:
len(a)

11

In [9]:
a[:2]

'he'

In [10]:
a[1:]

'ello world'

In [11]:
a[2:5]

'llo'

In [12]:
a[::2]

'hlowrd'

In [13]:
a[::-1]

'dlrow olleh'

In [14]:
a*2

'hello worldhello world'

In [15]:
a.upper()

'HELLO WORLD'

In [17]:
a.lower()

'hello world'

In [18]:
a.split()

['hello', 'world']

In [19]:
my_list = [1,2,3,4,5,6]

In [21]:
max(my_list)

6

In [22]:
my_list2 = [0,3,5,6,7,8]

In [23]:
my_list + my_list2

[1, 2, 3, 4, 5, 6, 0, 3, 5, 6, 7, 8]

In [24]:
abc = ["sam","ram","daaam"]

In [25]:
abc[1]

'ram'

In [1]:
%%writefile myfile.txt
Hello, My name is sudhir
how are you?
What you want to do

Writing myfile.txt

In [2]:
pwd

'C:\\Users\\sudhi\\Downloads\\Personal_project'

In [3]:
myfile = open('myfile.txt')

In [4]:
myfile.read()

'Hello, My name is sudhir\nhow are you?\nWhat you want to do\n'

In [5]:
myfile.seek(0)

0

In [6]:
myfile.read()

'Hello, My name is sudhir\nhow are you?\nWhat you want to do\n'

In [7]:
myfile.seek(0)

0

In [9]:
myfile.readlines()

['how are you?\n', 'What you want to do\n']

In [10]:
myfile.close()

In [11]:
with open('myfile.txt') as filetxt:
    content = filetxt.readlines()

In [12]:
content

['Hello, My name is sudhir\n', 'how are you?\n', 'What you want to do\n']

In [17]:
d = {"k1": 1,"k2":2,"k3":3}

for key,value in d.items():
    print(key)

k1
k2
k3

In [18]:
st = 'Print only the words that start with s in this sentence'

In [21]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

start
s
sentence

In [23]:
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

In [24]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [27]:
[x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [28]:
st = 'Print every word in this sentence that has an even number of letters'

In [30]:
for word in st.split():
    if len(word)%2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [31]:
[x for x in st.split() if len(x)%2==0]

['word', 'in', 'this', 'sentence', 'that', 'an', 'even', 'number', 'of']

In [33]:
for i in range(1,101):
    if i%3 == 0 and i%5==0:
        print('FizzBuzz')
    elif i%3 == 0:
        print("Fizz")
    elif i%5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [34]:
st = 'Create a list of the first letters of every word in this string'

In [35]:
[x[0] for x in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [36]:
def sud():
    print("helo world")

In [37]:
sud()

helo world

In [41]:
def name_function(name):
    print("hello World {}".format(name))

In [42]:
name_function("Sudhir")

hello World Sudhir

In [47]:
def mydef(*args):
    print(args[1])
    print(type(args))

In [48]:
mydef(1,2,3,4)

2
<class 'tuple'>

In [49]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        return min(a,b)
    else:
        return max(a,b)

In [52]:
a =lesser_of_two_evens(2,5)

In [53]:
a

5

In [54]:
def animal(a,b):
    if a[0] == b[0]:
        return True
    else:
        return False

In [57]:
a = animal("Levle","Man")

In [58]:
a

False

In [66]:
def make(a,b):
    if ((a+b) == 20) or (a == 20) or (b == 20):
        print("True")
    else:
        print("False")

In [67]:
make(10,10)

True

In [68]:
make(20,10)

True

In [69]:
make(2,3)

False

In [72]:
def mac(s):
    return (s[0].upper() + s[1:3]+ s[3].upper()+ s[4:])

In [73]:
mac("asdfghjkl")

'AsdFghjkl'

In [84]:
def rev(s):
    x = s.split()
    return ' '.join(x[::-1])

In [85]:
rev("I am home")

'home am I'

In [89]:
def has_33(a):
    for i in range(len(a)-1):
        if a[i] == 3 and a[i+1] ==3:
            return True
    return False

In [94]:
has_33([3,1,3])

False

In [97]:
def paper_doll(t):
    return (''.join([x*3 for x in t]))

In [98]:
paper_doll("Hello")

'HHHeeellllllooo'

In [101]:
def black(a,b,c):
    s = a+b+c
    if s<= 21:
        return s
    elif a==11 or b==11 or c==11:
        s = s-10
        if s<=21:
            return s
    else:
        return "BUST"

In [102]:
black(5,6,7)

18

In [103]:
black(9,9,9)

'BUST'

In [104]:
black(9,9,11)

19

In [ ]:
def sum_69(a):
    sm = 0
    for x in a:
        if a==6:
            pass

In [105]:
def spy(a):
    code = [0,0,7,'x']
    for x in a:
        if x == code[0]:
            code.pop(0)
    return len(code)==1

In [106]:
spy([1,2,3,0,0,7,5])

True

In [115]:
def prime(a):
    
    if a<2:
        return 0
    
    pri = [2]
    x = 3
    while x<=a:
        for i in range(3,x,2):
            if x%i == 0:
                
                break
        else:
            pri.append(x)
        x = x +2
    print(pri)
    return(len(pri))

In [116]:
prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25